//https://www.w3schools.com/bootstrap/bootstrap_dropdowns.asp
//
//
//W3Schools is optimized for learning, testing, and training. Examples might be simplified to 
//improve reading and basic understanding. Tutorials, references, and examples are constantly 
//reviewed to avoid errors, but we cannot warrant full correctness of all content. While using 
//this site, you agree to have read and accepted our terms of use, cookie and privacy policy. 
//Copyright 1999-2017 by Refsnes Data. All Rights Reserved.
//Powered by W3.CSS.

doctype html
html
  head
    meta(charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="javascripts/search_Area.js")
    script(src="javascripts/search_Name.js")
      
  body    
     
    form
    .form-group.col-xs-1.col-sm-3.col-md-3.col-lg-4
      label(for='search') Research :   
      select.form-control#name     
      input#search.form-control(type='text')
      button#btn_Search.btn.btn-default(type='submit') Search

    div#table
      table.table.table-striped
        tbody
        
